<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CJ2 Operações</title>
</head>
<body>
    Bem vindo ao CJ2 Banks API
</body>
</html>